@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h2 {
  color:#590d82;
  font-size: 24px;
}

a {
text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: rgb(251, 252, 250);
}

h1, h2 {
 font-family: 'Roboto', sans-serif;
}

h1 { color :#350b40; }

img {
  width: 100px;
  display: block;
  height: 100px;
  padding-top: 13px;
}

.grossediv {

    margin: 40px auto;
    width: 750px;
    background-color: rgb(251, 252, 250);
   }

.image-ronde {
  border-radius: 50%;
}

.cadre_blanc {
    background-color: #fafafa;
    padding: 25px;
    margin: 30px;
    border: 10px;
    box-shadow: 20px 20px 30px #e7e7de;
    border-radius: 5px;
}

.petit_cadre {
  width: 50%;
  margin : 30px auto;
}


.centré {
  margin : auto;
  text-align: center;
}

.bouton {
  background-color: #4a266a;
  color : #FFF3F8;
  padding : 10px;
  border-radius: 4px;
}

.bouton:hover {
  color : #350b40;
  background-color: #ffd9e8;
}

.marge-en-bas {
  margin-bottom: 30px;
}

.aligné_gauche {
  text-align: left;
}

.fab {
  font-size: 40px;
  margin-bottom: 10px;
}

.fab.fa-facebook {
  color : #1877F2;
}

.fab.fa-instagram-square {
  color : #D6005C ;
}

.fab.fa-linkedin {
  color : #0077b5;
}

ul li {
  display:inline-block;
  margin: 0 20px;
}

ul {
  margin : 0;
  padding : 0;
}

@media(max-width: 850px ) {
  .grossediv {
    width: 600px;
  }.cadre_blanc {margin: 30px auto;}
}

@media (max-width: 600px) {
  .grossediv {
    width: 400px
  }
}

@media (max-width: 400px) {
  .grossediv {
    width: 300px;
  }
}


